:root {
  --widthBoard: 540px;
  --spinnerSize: 40px;

  color: white;
  background-color: black;
}
@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: white;
  }
}

body {
  margin: 0;
  font-family: cursive, "Lucida Console", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 0.3;
  text-align: center;
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
